body{
background-image: url(images/fondo.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
}
h1{
    text-align: center;
    color: oldlace;
}
.formulario{
    width: 100%;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
}
.formulario input{
    width: 50%;
    height: 30px;
    margin: 1px;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
}
.formulario label{
    font-size: 16px;
    padding: 20px;
    display: flex;
}
.formulario select{
    font-size: 14px;
    padding: 5px;
    background-color: rgb(205, 243, 233);
}
fieldset, fieldset legend{
    color: black;
    background-color: rgb(209, 230, 213);
}
fieldset{
    width: 700px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}
input:focus{
    border: 1px solid rgb(142, 149, 247);
}
input[type="button"], input[type="reset"]{
    margin-bottom: 10px;
    background: darkblue;
    color: white;
    border: none;
}
input[type="button"]:hover ,input[type="reset"]:hover{
    background: blue;
    cursor: pointer;
}
.options{
    display: inline-flex;
}
.botones{
    display: inline-flex;
    width: 400px;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;

}
footer a img{
    width: 50px;
    height: 50px;
    padding: 20px;
}
